body {
  font-family: sans-serif;
}
.description
{
  font-family: sans-serif;
  height: 6em;
  width: 6em;
}
.main-head {
  grid-area: header;
}
.container > div {
  border-radius: 5px;
  padding: 2px;
  background-color: ivory;
  border: 2px solid lightgray;
}
.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 2px;
}
