body {
  font-family: sans-serif;
}
.description
{
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 6em;
}
.main-head {
  grid-area: header;
}
.container > div {
  border-radius: 5px;
  padding: 2px;
  background-color: ivory;
  border: 2px solid lightgray;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 2px;
}
.big_header {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  align-content: center;
  vertical-align: middle;
}
